.borde-pantalla {
  background-color: aliceblue;
  border: 2px  #c400ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contador-puntaje {
  color: #000000;
  background-image: linear-gradient(to right top, #edff00, #f0ff48, #f3ff6b, #f6ff89, #f8ffa4, #f6f7a1, #f4ef9f, #f1e79d, #edd57e, #eac260, #e9ae44, #e89828);
  border-radius: 10px;
  border: black 2px solid;
  font-size: 25px;
  width: 60px;
  font-family: 'Titan One', cursive;
}

.puntuacion-total{
  color: #000000;
  background-image: linear-gradient(to right top, #edff00, #f0ff48, #f3ff6b, #f6ff89, #f8ffa4, #f6f7a1, #f4ef9f, #f1e79d, #edd57e, #eac260, #e9ae44, #e89828);
  border-radius: 10px;
  border: black 2px solid;
  font-size: 95px;
  width: 150px;
  font-family: 'Titan One', cursive;
}

.titulo-puntaje{
  font-size: 30px;
  font-family: 'Titan One', cursive;
}
.titulo-puntaje-total{
  font-size: 100px;
  font-family: 'Titan One', cursive;
}

h1 {
  text-transform: uppercase;
  font-family: 'Titan One', cursive;
  color: rgba(255, 244, 244, 0.07);
  font-size: 80px;
  font-weight: bold;
  background-image: url("/assets/fondo-morado.jpg");
  background-size: cover;
  background-position: bottom;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}







