<div class="container-fluid">
    <div class="row mt-5"  >
        <app-temporizador *ngIf="IsStarted"></app-temporizador>
        <div class="pantalla col-12 text-center justify-content-center mt-4">
            <h1 [ngClass]="claseListadoPalabras">{{listaDePalabras}} </h1>
        </div>
    </div>
    <ng-container *ngIf="isButtonActive">
        <div class="col-12  text-center">
            <button class="iniciar btn btn-success mx-4 mt-4" (click)="iniciar()" >INICIAR</button> <br>
            <button class="regresar btn btn-primary mx-4 mt-4" (click)="regresar()">REGRESAR</button>
        </div>
    </ng-container>
    <ng-container *ngIf="IsStarted">
        <div class="row text-center mt-5">
            <div>
                <button class="correct btn btn-success mx-4" (click)="siguientePalabra(true)"><i
                        class="imagen bi bi-check-circle mx-3"></i>CORRRECTO
                </button>
                <button class="incorrect btn btn-danger mx-4" (click)="siguientePalabra(false)"><i
                        class="imagen bi bi-x-circle mx-3"></i>PASAR
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container ><!--*ngIf="IsScoringActivated"-->
        <div class="row mt-5">
            <div class="col text-end mt-2">
                <h2 [ngClass]="claseTituloPuntaje">PUNTAJE</h2>
            </div>
            <div class="col text-start mb-5">
                <input  [ngClass]="clasePuntuacionFinal"  class="puntaje btn btn-dark" placeholder="0" [value]="puntaje" disabled>
            </div>
        </div>
    </ng-container>
</div>
