nav{
  background-image: radial-gradient(circle, #ffe4d6, #ffded5, #ffd9d6, #ffd3d9, #ffcfdf, #f8c4da, #f0b9d6, #e7aed3, #d998c1, #cc83b0, #be6d9e, #b0578d);  height: 100px;
}

h1{
  font-family: 'Titan One', cursive;
  font-size: 100px;
  color: black;
}
