/*Botones de selección de modalidad de juego*/

.button-inicio-modalidad {
  background: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.button-inicio-modalidad:hover {
  transform: scale(1.3); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

.button-inicio-modalidad::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}


/*Botones de iniciar el juego*/

.button-iniciar {
  background: #a656c0;
  cursor: pointer;
  border: none;
  padding: 16px 41px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.button-iniciar:hover {
  transform: scale(1.3); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

.button-iniciar::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #C400FFFF, #DE6AEAFF, #9C62A9FF, #C400FFFF, #DE6AEAFF, #9C62A9FF);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-regresar {
  background: #0002ff;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.button-regresar:hover {
  transform: scale(1.3); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

.button-regresar::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0002ff, #010270, #0053ff, #2a2a77, #0002ff, #6700ff, #0053ff, #9191cc);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

/*Botones se correcto y pasar*/

.button-correct {
  background: #56ee57;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.button-correct:hover {
  transform: scale(1.1); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

.button-incorrect{
  background: #e75656;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.button-incorrect:hover {
  transform: scale(1.1); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

/*Botones se correcto y pasar*/

.button-ingresar{
  background: #606060;
  cursor: pointer;
  border: none;
  padding: 16px 26px;
  color: #f3ebfd;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
}

.inputs{
  font-family: 'Titan One', cursive;
  color: purple;
  border: 2px solid #191919; /* Borde del input */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombras */
  transition: box-shadow 0.3s ease; /* Transición suave de las sombras */
  font-size: 16px;
  background-color: #fff;
}

/* Cambio de estilo cuando el input está enfocado */
.inputs:focus {
  outline: none; /* Quita el borde de enfoque predeterminado */
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra en el enfoque */
}
