.tipografia-navbar{
  font-family: 'Titan One', cursive;
  font-size: 60px;
  color: black;
}

.titulo-inicial {
  font-family: 'Titan One', cursive;
  color: rgba(255, 244, 244, 0.07);
  font-size: 80px;
  font-weight: bold;
  background-image: url("/assets/fondo-colores-2.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}

.titulo-inicial-aplicativo-manual {
  font-family: 'Titan One', cursive;
  color: rgba(255, 244, 244, 0.07);
  font-size: 50px;
  font-weight: bold;
  background-image: url("/assets/fondo-colores-2.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}
.subtitulo-seleccion-modalidad {
  font-family: 'Titan One', cursive;
  color: purple;
}

.listado-palabras-pantalla-aplicativo{
  font-family: "Arial Black";
  color: rgba(255, 244, 244, 0.07);
  font-size: 80px;
  font-weight: bold;
  background-image: url("/assets/fondo-negro.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}

.listado-palabras-pantalla-aplicativo-manual{
  font-family: "Arial Black";
  color: rgba(255, 244, 244, 0.07);
  font-size: 20px;
  font-weight: bold;
  background-image: url("/assets/fondo-negro.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}
img{
  width: 860px;
  height: 100px;
}
