.titulo {
  font-family: 'Titan One', cursive;
  color: rgba(255, 244, 244, 0.07);
  font-size: 80px;
  font-weight: bold;
  background-image: url("/assets/fondo-colores-2.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-stroke: 0.1px #2a2a2a; /* Borde de 3px en color negro */
}

.hero {
  color: white;
  min-height: 20vh;
}

.boton-inicio-juego {
  background: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f3ebfd;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  transition: transform 0.3s ease; /* Agregamos una transición para que el cambio de tamaño sea suave */
}

.boton-inicio-juego:hover {
  transform: scale(1.3); /* Cuando el cursor se posa sobre el botón, se agranda un 10% */
}

.boton-inicio-juego::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

h3 {
  font-family: 'Titan One', cursive;
  color: purple;
}

